# Aplicação
PORT=3000
NODE_ENV=development

# Banco de dados

DB_HOST=aws-0-sa-east-1.pooler.supabase.com
DB_PORT=6543
DB_USERNAME=postgres.
DB_PASSWORD=
DB_NAME=social_media_db

DATABASE_URL=postgresql:

SUPABASE_URL=https
SUPABASE_SERVICE_KEY=sua_service_role_key

JWT_SECRET=
JWT_EXPIRES_IN=

ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxx

SUPABASE_URL
